footer {
	max-height: 10vh;
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: red;
	font-size: $size3;
	@include flex(row, space-around, center);
	h4 {
		flex: 1;
	}
	ul {
		@include flex(row, space-around, center);
		flex: 1;
	}
}
