footer {
	min-height: 10vh;
	width: 90%;
	margin: auto;
	text-align: center;
	background-color: $bgColor3;
	font-size: $size3;
	@include flex(row, space-around, center);
	h4 {
		flex: 1;
	}
	ul {
		@include flex(row, space-around, center);
		flex: 1;
	}
}
