main {
	max-height: 80vh;
	width: 80%;
	margin: auto;
	background-color: $bgColor3;
	font-size: $size3;

	.menu {
		height: 80vh;
		width: 100%;
		border: 1px solid black;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		background-color: blue;
		.section {
			flex-basis: 25%;
			flex-grow: 1;
			background: rgb(51, 51, 51);
			color: whitesmoke;
			height: 30rem;
			margin: 1rem;
			font-size: calc(1.7rem + 1vw);
			border: 1px solid white;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.5s ease-in-out;
			&:hover {
				background-color: whitesmoke;
				color: black;
				border: 0.2rem solid black;
			}
		}
	}
}
