/* TABLETS */
@media (max-width: 1024px) {
	/* HEADER */
	.titre {
		font-size: $size2;
	}

	/* MAIN */
	main {
		.menu {
			.section {
				font-size: calc(1.5rem - 0.1vw);
			}
		}
	}

	/* FOOTER */
	footer {
		h4 {
			font-size: 1.5rem;
		}
	}
}

/* IPHONES */
@media (max-width: 560px) {
	/* HEADER */
	.titre {
		font-size: $size3;
	}

	/* MAIN */
	main {
		.menu {
			.section {
				font-size: calc(1.1rem - 0.2vw);
			}
		}
	}

	/* FOOTER */
	footer {
		h4 {
			font-size: 1.2rem;
		}
	}
}
