/*** FONT FAMILIES ***/
$family1: 'Quicksand', sans-serif;
$family2: 'Notable', sans-serif;
$family3: 'Lora', serif;

/*** FONT SIZES ***/
$size1: 4rem;
$size2: 3rem;
$size3: 2rem;

/*** BACKGROUND COLORS ***/
$bgColor1: rgb(51, 50, 50);
$bgColor2: rgb(157, 199, 146);
$bgColor3: rgb(233, 181, 38);
$bgColor4: rgb(129, 113, 190);

/*** TEXT COLORS ***/
$textColor1: rgb(0, 0, 0);
$textColor2: rgb(255, 255, 255);
$textColor3: rgb(212, 28, 28);
$textColor4: rgb(43, 83, 168);
