/*** GLOBAL SETTING ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

/*** FONT FAMILIES ***/
/*** FONT SIZES ***/
/*** BACKGROUND COLORS ***/
/*** TEXT COLORS ***/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9b526;
}

header {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  background-color: #e9b526;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 80vh;
  width: 90%;
  background-color: #cccbcb;
  font-size: 2rem;
}

main li {
  margin: 10rem;
}

main h2 {
  text-decoration: underline;
  text-align: center;
}

main .paragraphe {
  margin: 1rem;
  padding: 1rem;
}

main .example {
  color: white;
  background-color: #333232;
  display: inline-block;
  border-radius: 1rem;
}

main span {
  color: #d41c1c;
}

footer {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #e9b526;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
